{% extends "auctions/layout.html" %}

{% block body %}
    <div class="header">
        <h2>Active Listings</h2>
    </div>

    <div class="listings">
    {% for item in listings %}
        <div class="card">
            <div class="photo">
                <img src="{{ item.image }}" height="420" width="327" alt="{{item.title}}">
            </div>
            <div class="description">
                <h2>{{ item.title }}</h2>
                <h4>{{ item.category }}</h4>
                <h1>{{ item.price }}</h1>
                <p>{{ item.description }}</p>
                <a href="{% url 'listing' item.title %}"><button type="button">Bid now</button></a>
            </div>
        </div>
        {% endfor %}
    </div>
    
{% endblock %}