{% extends "auctions/layout.html" %}

{% block body %}
    <div>
        <h2>{{ listing.title }}</h2>
        <img src="{{ listing.image }}" alt="">
        <p>Description : {{ listing.description }}</p>
        <p>The current price is {{ listing.price }}</p>
    </div>

    <div>
        {% if user.is_authenticated %}
            {% if watchlist == False %}
                <form action="{% url 'add-watchlist' listing.title %}" method="POST">{% csrf_token %}
                    <button name="add" class="btn btn-primary" placeholder="Add to favorite">Add to favorite</button> 
                    <input type="hidden" name="listing_id" value="{{ listing.id }}">
                </form>
        
            {% else %}
                <form action="{% url 'remove-watchlist' listing.title %}" method="POST">{% csrf_token %}
                    <button name="" class="btn btn-secondary" placeholder="Remove to favorite">Remove to favorite</button> 
                </form>
            {% endif %}
        {% else %}
                
        {% endif %}
    </div>

    <div>
        <h2>Bidding</h2>
        <p>Current bid: {{ listing.price }}</p>
            <br>
        {% if user.is_authenticated and request.user == listing.seller and state == True %}
            <form action="{%url 'close' listing.title %}" method="POST">{% csrf_token %}
                <input type="submit" value="Close auction">  
            </form>
        {% elif user.is_authenticated and state == True %}
            <form action="{% url 'bid' listing.title %}" method="POST">{% csrf_token %}
                {{ form }}
                <input type="submit" value="Bid"> 
            </form>

        {% elif state == False %}
            <p>The listing has been sold to {{ listing.buyer }} for the price of {{ listing.price }}</p>
        
            {% else %}
            <p>You need to sign in to Bid</p>
        
        {% endif %}
    </div>

    <div>
        <h2>Comments</h2>
        {% if user.is_authenticated %}
            <h3>Leave a comment</h3> 
            <label for="content">Your comment</label><br>
            <textarea name="content" id="" cols="30" rows="10" required>What do you think?</textarea><br>
            <input type="submit" value="Add your comment">
        {% else %}
        
        {% endif %}

        <h3>Comments on this product</h3>
        {% for comment in comments %}
            <p>{{ comment.writer}}</p>
            <p>{{ comment.content}}</p>
            <p>{{ comment.comment_creation_date}}</p>
        {% endfor %}
    </div>

{% endblock %}